.homeContainer {
  margin: 5rem auto;
  max-width: 700px;
}

.articles {
  list-style: none;
  margin: 4rem 0;

  li {
    transition: filter .2s ease;

    &:hover {
      filter: brightness(0.7);
    }
  }

  li + li {
    margin: 3rem 0 0 0;
  }

  h2 {
    color: var(--heading);
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.03125rem;
    line-height: 1.214;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0.5rem 0 0 0;
  }

  footer {
    display: flex;
    color: var(--info);
    font-size: 0.875rem;
    margin: 1.5rem 0 0 0;

    > * {
      align-items: center;
      display: flex;
    }

    > * + * {
      margin: 0 0 0 1.5rem;
    }

    span {
      margin: 0 0 0 0.5rem;
    }
  }

  time {
    text-transform: capitalize;
  }
}

